.footer__column-link {
    display: flex;
    color: white;
    text-decoration: none;
    transition: 0.5s;
    margin: 0;
    padding: 0;
  }

  .footer__column-link:hover {
    opacity: 0.8px;
    background-color: #2f80ed;
    border-radius: 5px;
  
    transition: ease-in-out 0.5s;
  }