.feynman__link {
    position: absolute;
    right: 48px;
    top: 50%;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
    transition: 0.2s;
  }
  
  .feynman__link:hover {
    opacity: 0.8px;
    text-shadow: 3px 3px 3px rgba(0,0,0, 1);
    transition: ease-in 0.2s;
  }