.buy-link {
    color: #2f80ed;
    padding: 0;
    margin: 0;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    transition: 0.2s;
  }

  .buy-link:hover {
    opacity: 0.8px;
    text-shadow: 3px 3px 3px rgba(0,0,0, 0.2);
    transition: ease-in 0.2s;
  }