.quote-author {
    padding: 0;
    margin-bottom: 10px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;  
  }
  
  .quote-author-subline {
    padding: 0;
    margin-bottom: 68px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: normal; 
  }