.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}
/* =============HEADER BLOCK========================== */
.header {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
}

.header__title {
  display: flex;
  align-items: center;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin-left: 64px;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  bottom: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  margin-left: 64px;
  z-index: 2;
}

.logo {
  position: absolute;
  width: 228px;
  height: 32px;
}

.logo__place_header {
  margin-left: 64px;
  margin-top: 30px;
}

.header__link {
  text-decoration: none;
}

.header__main_illustration {
  position: absolute;
  z-index: 1;
  width: 765px;
  height: 608;
  bottom: 0;
  right: 0;
}

.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  margin-top: 64px;
  top: 0;
  right: 0;
  height: 568px;
  width: 568px;
}
/* =====CONTEND DESCRIPTION BLOCK==================================== */
.content__description {
  display: flex;
  justify-content: center;
  align-content: stretch;
}

.two_columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  width: 80%;
}

.two_columns__brief {
  width: 175px;
}

.two_columns__main_text {
  min-width: 784px;
  width: 80%;
}

.brief__title {
  margin: 0 auto 0 auto;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two_columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.paragraph__span_accent {
  font-weight: 600;
}
/* ==============DIGITS BLOCK==================================== */
.digits {
  padding-bottom: 100px;
}

.section__title {
  margin: auto;
  text-align: center;
  margin-top: 100px;
  padding: 0;
  text-align: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
}

.section__subtitle {
  margin: auto;
  text-align: center;
  margin-top: 20px;
  width: 60%;
  text-align: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}

.table__cell {
  width: 250px;
}

.table__cell_heading {
  margin: 0;
  margin-bottom: 20px;
  text-align: 1.15;
  font-size: 24px;
  font-weight: 600;

}

.table__cell_text {
  margin: 0;
  margin-bottom: 20px;
  text-align: 1.2;
  font-size: 18px;
  font-weight: normal;
}
/* ==============FEYNMAN BLOCK========================== */
.feynman {
  min-height: 890px;
  background-image: url("../images/feynman.png");
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #f2f2f2;
  position: relative;
}

.feynman__title {
  width: 648px;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  text-align: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  display: block;
  text-align: center;
  margin-top: 70px;
  text-align: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  right: 0;
  margin-right: 48px;
  height: 50%;
  text-align: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}
/* ================KAUFMAN BLOCK====================== */
.kaufman {
  position: relative;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  background-size: 877px 877px;
  background-size: contain;
  color: white;
  overflow: hidden;
  z-index: 1;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  background-image: url("../images/kaufman-triangle.svg");
  right: -210px;
  top: 0;
  z-index: -1;
}

.section__title_theme_dark {
  margin-top: 90px;
}

.section-subtitle_theme_dark {
  margin-top: 20px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
/* ==============FOOTER BLOCK======================= */
.footer {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  height: 350px;
  width: 100%;
  background-color: #1f1f1f;
  color: white;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  flex-basis: 711px;
  width: 90%;
  margin: 60px auto 40px auto;
  padding: 0;
}

.footer__column_content_copyright {
  display: flex;
  position: relative;
  flex-basis: 711px;
  padding-top: 60px;
}

.logo__place_footer {
  top: 0;
  width: 228px;
  height: 32px;
}

.footer_author {
  text-align: 25px;
  font-size: 18px;
  font-weight: normal;
  align-self: flex-end;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_heading {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  text-align: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column_links {
  text-align: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  padding-bottom: 10px;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column_link {
  display: flex;
  color: white;
  text-decoration: none;
  padding-bottom: 10px;
}

.footer__social_icon {
  margin-right: 10px;
}
