.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
/* =============HEADER BLOCK========================== */
.header {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
}

.header__title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin-left: 64px;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  max-width: 388px;
  left: 64px;
  z-index: 2;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  transition: 0.2s;
}

.header__link:hover {
  opacity: 0.8px;
  text-shadow: 3px 3px 3px rgba(0,0,0, 0.2);
  transition: ease-in 0.2s;
}

.header__main-illustration {
  position: absolute;
  z-index: 1;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
}

.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  animation: rotation 20s linear infinite reverse 0s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* =====CONTENT DESCRIPTION BLOCK==================================== */
.description {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
}

.two-columns__brief {
  max-width: 175px;
  margin: 0 auto 0 auto;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  min-width: 784px;
  max-width: 80%;
  margin: 0;
  padding: 0;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}
/* ==============TECHNIQUES==================================== */
.techniques {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.cards {
 display: flex;
 flex-wrap: wrap;
 margin: auto;
 width: 920px;
 text-align: center;
}

.cards__item {
  margin-right: 100px;
  padding: 0;
  width: 235px;
}

.cards__item:nth-child(3) {
  margin-right: 0;
}

.cards__image {
 margin: 60px 40px 43px 40px;
 width: 160px;
 height: 160px;
 border-radius: 50%;
}

.cards__title {
 margin: 0;
 padding: 0;
 margin-bottom: 16px;
 line-height: 1.15;
 font-size: 24px;
 font-weight: 600;
}

.cards__descriptrion {
  margin: 0;
  padding: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}
/* ==============VIDEO==================================== */
.video {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.iframes {
  bottom: 0;
  margin: auto;
  padding-top: 50px;
  margin-bottom: -50px;
}

.iframe {
  margin-right: 20px;
  width: 515px;
  height: 316px;
  transition: 0.2s;
}
.iframe:hover {
  transform: scale(105%);
  transition: ease-in 0.2s;
}


/* ==============OAKLEY==================================== */
.oakley{
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/* ==============DIGITS BLOCK==================================== */
.digits {
  height: 100%;
  padding-bottom: 100px;
}

.section-title {
  margin: auto;
  text-align: center;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  max-width: 60%;
}

.section-subtitle {
  margin: auto;
  text-align: center;
  margin-top: 20px;
  max-width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 0 auto;
  padding-left: 0;
  width: 1100px;
  list-style-type: none;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text:last-child {
  margin-bottom: 0;
}

/* ==============FEYNMAN BLOCK========================== */
.feynman {
  min-height: 890px;
  margin-bottom: 100px;
  background-image: url("../images/feynman.png");
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #f2f2f2;
  position: relative;
}

.feynman__title {
  margin: auto;
  padding: 0;
  max-width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  transition: 0.2s;
}

.feynman__link:hover {
  opacity: 0.8px;
  text-shadow: 3px 3px 3px rgba(0,0,0, 0.2);
  transition: ease-in 0.2s;
}

/* ================KHAN====================== */
.khan {
  background-color: #f2f2f2;
  padding-top: 105px;
}

.khan__container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.author {
  padding: 0;
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.title {
  padding: 0;
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.quote {
  padding: 0;
  margin-top: 50px;
  margin-bottom: 36px;
  max-width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.quote-author {
  padding: 0;
  margin-bottom: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;  
}

.quote-author-subline {
  padding: 0;
  margin-bottom: 68px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal; 
}

.book-container {
  display: flex;
  padding: 0;
  margin: 0;
}

.book-pic {
  width: 620px;
  height: 608px;
  margin-right: 48px;
  object-fit: cover;
  object-position: top;
}

.buy-link {
  color: #2f80ed;
  padding: 0;
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  transition: 0.2s;
}

.buy-link:hover {
  opacity: 0.8px;
  text-shadow: 3px 3px 3px rgba(0,0,0, 0.2);
  transition: ease-in 0.2s;
}

/* ================KAUFMAN BLOCK====================== */

.kaufman {
  position: relative;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  color: white;
  overflow: hidden;
  z-index: 1;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: cover;
  right: -210px;
  top: 0;
  z-index: -1;
  animation: rotation 20s linear infinite 0s; 
}

.section-title_theme_dark {
  margin-top: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
/* ==============RESOURCES======================= */
.resources {
  margin-top: 100px;
  margin-bottom: 217px;
}

.logo-zone {
  display: flex;
  margin-top: 80px;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.resources__logo {
  margin: 0;
  padding: 0;
  width: 270px;
  height: 38px;
  object-fit: fill;
  transition: 0.5s;
}

.resources__logo:hover {
  transform: scale(130%);
  transition: ease-in-out 0.2s;
}


/* ==============FOOTER BLOCK======================= */
.footer {
  display: flex;
  min-height: 350px;
  width: 100%;
  background-color: #1f1f1f;
  color: white;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px auto;
  padding: 0;
}

.footer__column_content-copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  display: flex;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.footer__column-link:hover {
  opacity: 0.8px;
  background-color: #2f80ed;
  border-radius: 15px;

  transition: ease-in-out 0.5s;
}

.footer__social-icon {
  margin-right: 10px;
}