.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}
/* =============HEADER BLOCK========================== */
.header {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
}

.header__title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin-left: 64px;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  max-width: 388px;
  left: 64px;
  z-index: 2;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place__header {
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  z-index: 1;
  width: 765px;
  height: 608;
  bottom: 0;
  right: 0;
}

.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
}
/* =====CONTENT DESCRIPTION BLOCK==================================== */
.description {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
}

.two-columns__brief {
  max-width: 175px;
  margin: 0 auto 0 auto;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  min-width: 784px;
  max-width: 80%;
  margin: 0;
  padding: 0;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__main-text:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}
/* ==============DIGITS BLOCK==================================== */
.digits {
  padding-bottom: 100px;
}

.section-title {
  margin: auto;
  text-align: center;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  max-width: 60%;
}

.section-subtitle {
  margin: auto;
  text-align: center;
  margin-top: 20px;
  max-width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 0 auto;
  padding-left: 0;
  width: 1100px;
  list-style-type: none;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__cell:last-child {
  margin-bottom: 0;
}

/* ==============FEYNMAN BLOCK========================== */
.feynman {
  min-height: 890px;
  background-image: url("../images/feynman.png");
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #f2f2f2;
  position: relative;
}

.feynman__title {
  margin: 0;
  padding: 0;
  max-width: 648px;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  right: 0;
  padding-right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}
/* ================KAUFMAN BLOCK====================== */
.kaufman {
  position: relative;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  color: white;
  overflow: hidden;
  z-index: 1;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: cover;
  right: -210px;
  top: 0;
  z-index: -1;
}

.section-title_kaufman__theme_dark {
  margin-top: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
}
/* ==============FOOTER BLOCK======================= */
.footer {
  display: flex;
  min-height: 350px;
  width: 100%;
  background-color: #1f1f1f;
  color: white;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px auto;
  padding: 0;
}

.footer__column_content-copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  margin: 0;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content-info {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__column_content-social {
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  display: flex;
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  margin-right: 10px;
}